 <div class="lectures index">
  <h2>Lectures</h2>

  <%= link_to("Add New Lecture", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="Lecture list">
    <tr class="header">
      <th>&nbsp;</th>
      <th>Lecture</th>
      <th>Actions</th>
    </tr>
    <% @lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.id %></td>
      <td><%= lecture.Title %></td>
      <td class="actions">
        <%= link_to("Show",{:action => 'show', :id => lecture.id} , :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>